<mat-card class="first">
    <mat-card *ngIf="selectedImage" class="full-size-image-container">
      <img [src]="selectedImage" alt="Imagen seleccionada" (click)="closeImage()" style="width: 100%; height: 100%;">
    </mat-card>
    <mat-form-field appearance="fill">
      <mat-label>Procesador</mat-label>
      <mat-select (selectionChange)="setPrecioSeleccionado($event.value)">
        <mat-option *ngFor="let procesador of procesadores" [value]="procesador">{{ procesador.modelo }}</mat-option>
      </mat-select>
    </mat-form-field>
    <p *ngIf="precioSeleccionado" class="card-container">
      <mat-card style="width: 7em; height: 7em;">
        <span>
          <img src="{{ imgSeleccionada }}" style="width: 70px; height: 70px;" (click)="openImage(imgSeleccionada)">
        </span>
      </mat-card>
      <mat-card style="width: 30em; margin-right: 2em;">
        <span style="margin-top: 0.4em;">
          {{ precioSeleccionado|currency }}
        </span>
        <span>
          {{ consumoSeleccionado + " W"}}
          <a [href]="urlSeleccionada">{{ tiendaSeleccionada }}</a>
        </span>
      </mat-card>
    </p>
  </mat-card>
  <mat-card>
    <mat-form-field appearance="fill">
      <mat-label>Placa Madre</mat-label>
      <mat-select (selectionChange)="setPrecioSeleccionado2($event.value)">
        <mat-option *ngFor="let motherboard of motherboardFiltradas" [value]="motherboard.modelo">{{ motherboard.modelo }}</mat-option>
      </mat-select>
    </mat-form-field>
    <p *ngIf="precioSeleccionado2" class="card-container">
      <mat-card style="width: 7em; height: 7em;">
        <span>
          <img src="{{ imgSeleccionada2 }}" style="width: 70px; height: 70px;" (click)="openImage(imgSeleccionada2)">
        </span>
      </mat-card>
      <mat-card style="width: 30em; margin-right: 2em;">
        <span style="margin-top: 0.4em;">
          {{ precioSeleccionado2|currency }}
        </span>
          {{ consumoSeleccionado2 + " W"}}
          <a [href]="urlSeleccionada2">{{ tiendaSeleccionada2 }}</a>
      </mat-card>
    </p>
  </mat-card>
  <mat-card>
    <mat-form-field appearance="fill">
      <mat-label>Ram</mat-label>
      <mat-select (selectionChange)="setPrecioSeleccionado3($event.value)">
        <mat-option class="extend" *ngFor="let ram of ramFiltradas" [value]="ram.modelo">{{ ram.modelo }}</mat-option>
      </mat-select>
    </mat-form-field>
    <p *ngIf="precioSeleccionado3" class="card-container">
      <mat-card style="width: 7em; height: 7em;">
        <span>
          <img src="{{ imgSeleccionada3 }}" style="width: 70px; height: 70px;" (click)="openImage(imgSeleccionada3)">
        </span>
      </mat-card>
      <mat-card style="width: 30em; margin-right: 2em;">
        <span style="margin-top: 0.4em;">
          {{ precioSeleccionado3|currency }}
        </span>
          {{ consumoSeleccionado3 + " W"}}
          <a [href]="urlSeleccionada3">{{ tiendaSeleccionada3 }}</a>
      </mat-card>
    </p>
  </mat-card>
  <mat-card>
    <mat-form-field appearance="fill">
      <mat-label>Almacenamiento</mat-label>
      <mat-select (selectionChange)="setPrecioSeleccionado4($event.value)">
        <mat-option class="extend" *ngFor="let almacenamiento of almacenamiento" [value]="almacenamiento.modelo">{{ almacenamiento.modelo }}</mat-option>
      </mat-select>
    </mat-form-field>
    <p *ngIf="precioSeleccionado4" class="card-container">
      <mat-card style="width: 7em; height: 7em;">
        <span>
          <img src="{{ imgSeleccionada4 }}" style="width: 70px; height: 70px;" (click)="openImage(imgSeleccionada4)">
        </span>
      </mat-card>
      <mat-card style="width: 30em; margin-right: 2em;">
        <span style="margin-top: 0.4em;">
          {{ precioSeleccionado4|currency }}
        </span>
          {{ consumoSeleccionado4 + " W"}}
          <a [href]="urlSeleccionada4">{{ tiendaSeleccionada4 }}</a>
      </mat-card>
    </p>
  </mat-card>
  <mat-card>
      <mat-form-field appearance="fill">
        <mat-label>Disipador</mat-label>
        <mat-select (selectionChange)="setPrecioSeleccionado5($event.value)">
          <mat-option *ngFor="let disipador of disipador" [value]="disipador.modelo">{{ disipador.modelo }}</mat-option>
        </mat-select>
      </mat-form-field>
      <p *ngIf="precioSeleccionado5" class="card-container">
        <mat-card style="width: 7em; height: 7em;">
          <span>
            <img src="{{ imgSeleccionada5 }}" style="width: 70px; height: 70px;" (click)="openImage(imgSeleccionada5)">
          </span>
        </mat-card>
        <mat-card style="width: 30em; margin-right: 2em;">
          <span style="margin-top: 0.4em;">
            {{ precioSeleccionado5|currency }}
          </span>
            {{ consumoSeleccionado5 + " W"}}
            <a [href]="urlSeleccionada5">{{ tiendaSeleccionada5 }}</a>
        </mat-card>
      </p>
    </mat-card>
    <mat-card>
      <mat-form-field appearance="fill">
        <mat-label>Fuente de Poder</mat-label>
        <mat-select (selectionChange)="setPrecioSeleccionado6($event.value)">
          <mat-option class="extend" *ngFor="let fuentedepoder of fuentedepoder" [value]="fuentedepoder.modelo">{{ fuentedepoder.modelo }}</mat-option>
        </mat-select>
      </mat-form-field>
      <p *ngIf="precioSeleccionado6" class="card-container">
        <mat-card style="width: 7em; height: 7em;">
          <span>
            <img src="{{ imgSeleccionada6 }}" style="width: 70px; height: 70px;" (click)="openImage(imgSeleccionada6)">
          </span>
        </mat-card>
        <mat-card style="width: 30em; margin-right: 2em;">
          <span style="margin-top: 0.4em;">
            {{ precioSeleccionado6|currency }}
          </span>
            {{ consumoSeleccionado6 + " W"}}
            <a [href]="urlSeleccionada6">{{ tiendaSeleccionada6 }}</a>
        </mat-card>
      </p>
    </mat-card>
    <mat-card>
      <mat-form-field appearance="fill">
        <mat-label>Grafica</mat-label>
        <mat-select (selectionChange)="setPrecioSeleccionado7($event.value)">
          <mat-option class="extend" *ngFor="let grafica of grafica" [value]="grafica.modelo">{{ grafica.modelo }}</mat-option>
        </mat-select>
      </mat-form-field>
      <p *ngIf="precioSeleccionado7" class="card-container">
        <mat-card style="width: 7em; height: 7em;">
          <span>
            <img src="{{ imgSeleccionada7 }}" style="width: 70px; height: 70px;" (click)="openImage(imgSeleccionada7)">
          </span>
        </mat-card>
        <mat-card style="width: 30em; margin-right: 2em;">
          <span style="margin-top: 0.4em;">
            {{ precioSeleccionado7|currency }}
          </span>
            {{ consumoSeleccionado7 + " W"}}
            <a [href]="urlSeleccionada7">{{ tiendaSeleccionada7 }}</a>
        </mat-card>
      </p>
    </mat-card>
    <mat-card>
      <mat-form-field appearance="fill">
        <mat-label>Gabinete</mat-label>
        <mat-select (selectionChange)="setPrecioSeleccionado8($event.value)">
          <mat-option *ngFor="let gabinete of gabinetes" [value]="gabinete.modelo">{{ gabinete.modelo }}</mat-option>
        </mat-select>
      </mat-form-field>
      <p *ngIf="precioSeleccionado8" class="card-container">
        <mat-card style="width: 7em; height: 7em;">
          <span>
            <img src="{{ imgSeleccionada8 }}" style="width: 70px; height: 70px;" (click)="openImage(imgSeleccionada8)">
          </span>
        </mat-card>
        <mat-card style="width: 30em; margin-right: 2em;">
          <span style="margin-top: 0.4em;">
            {{ precioSeleccionado8|currency }}
          </span>
            {{ consumoSeleccionado8 + " W"}}
            <a [href]="urlSeleccionada8">{{ tiendaSeleccionada8 }}</a>
        </mat-card>
      </p>
    </mat-card>
    <mat-card>
      <mat-card-content>
        <div *ngIf="mostrarAdvertencia" class="advertencia">¡Advertencia Fuente Insuficiente!</div>
        <span style="text-align: right; margin-right: 11.5em">
        Total: {{ sumaPrecios | currency }}
        </span>
        {{ sumaConsumo + " W" }}
      </mat-card-content>
    </mat-card>
    <br>
    <button mat-raised-button color="primary" (click)="exportToText()">Exportar</button>