.sidenav-container {
    height: 100%;
  }
  
  .sidenav {
    width: 250px;
  }
  
  .toggle-button {
    position: absolute;
    top: 10px;
    left: 10px;
  }

  .toggle-theme-button {
    margin-left: 0.6em;
  }

  .close-session {
    margin-left: 1em; 
    margin-top: -2em;
  }
  
  .dark-theme {
    background-color: grey;
    color: black;
  }