<mat-card id="main-content" class="main-content">
    <mat-card-header>
        <mat-card-title>Iniciar Sesión</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <form (ngSubmit)="onSubmit()">
        <mat-form-field appearance="fill">
            <mat-label>Usuario</mat-label>
            <input matInput type="text" [(ngModel)]="usuario" name="usuario" required>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Contraseña</mat-label>
            <input matInput type="password" [(ngModel)]="contrasena" name="contrasena" required>
        </mat-form-field>
        <button mat-raised-button type="submit">Iniciar Sesión</button>
        </form>
    </mat-card-content>
</mat-card>

  