
.main-content {
    margin-top: 5em;
  }

mat-form-field {
  width: 90%;
  margin-left: 1em;
  display: flex;
  justify-content: center; 
  align-items: center; 
}

mat-card-title {
  margin-left: 6em;
  margin-bottom: 1em;
}

button {
  margin-top: 1%;
  margin-left: 30%;
  @media screen and (min-width: 768px) {
      margin-left: 50em;
  }
}
