<mat-card class="form-group" style="margin-top: 5em;">
    <mat-label style="text-align: center; margin-bottom: 1em; margin-top: 1em;" for="busqueda">Buscar por modelo:</mat-label>
        <mat-form-field class="form-field">
            <mat-select (selectionChange)="onSelectionChange($event.value)">
                <mat-option *ngFor="let item of items" [value]="item">{{ item.modelo }}</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Modelo" type="text" id="busqueda" [(ngModel)]="modelo">
        </mat-form-field>
        <div style="margin-left: -1em; margin-bottom: 1em;">
            <button mat-raised-button color="primary" (click)="buscar()">Buscar</button>
        </div>
</mat-card>

<form [formGroup]="registroForm" (ngSubmit)="onSubmit()" class="registration-form">
    
    <div class="form-group">
        <label for="id">ID:</label>
        <mat-form-field appearance="fill" class="form-field">
            <input matInput placeholder="ID" formControlName="id">
            <mat-error *ngIf="registroForm.get('id')?.invalid && registroForm.get('id')?.touched">
            El ID es requerido.
            </mat-error>
        </mat-form-field>
    </div>

    <div class="form-group">
        <label for="tipo">Componente:</label>
        <mat-form-field appearance="fill" class="form-field">
          <mat-label>Componente</mat-label>
          <mat-select formControlName="tipo">
            <mat-option value="procesador">Procesador</mat-option>
            <mat-option value="disipador">Disipador</mat-option>
            <mat-option value="motherboard">Motherboard</mat-option>
            <mat-option value="ram">Ram</mat-option>
            <mat-option value="almacenamiento">Almacenamiento</mat-option>
            <mat-option value="psu">Fuente de Poder</mat-option>
            <mat-option value="gpu">Grafica</mat-option>
            <mat-option value="gabinete">Gabinete</mat-option>
          </mat-select>
        </mat-form-field>
    </div> 

    <div class="form-group">
        <label for="modelo">Modelo:</label>
        <mat-form-field appearance="fill" class="form-field">
            <input matInput placeholder="Modelo" formControlName="modelo">
            <mat-error *ngIf="registroForm.get('modelo')?.invalid && registroForm.get('modelo')?.touched">
            El Modelo es requerido.
            </mat-error>
        </mat-form-field>
    </div>

    <div class="form-group">
        <label for="precio">Precio:</label>
        <mat-form-field appearance="fill" class="form-field">
            <input matInput type="number" placeholder="Precio" formControlName="precio">
            <mat-error *ngIf="registroForm.get('precio')?.invalid && registroForm.get('precio')?.touched">
            El Precio es requerido.
            </mat-error>
        </mat-form-field>
    </div>

    <div class="form-group">
        <label for="url">URL:</label>
        <mat-form-field appearance="fill" class="form-field">
            <input matInput placeholder="URL" formControlName="url">
            <mat-error *ngIf="registroForm.get('url')?.invalid && registroForm.get('url')?.touched">
            La URL del producto es requerida.
            </mat-error>
        </mat-form-field>
    </div>

    <div class="form-group">
        <label for="img">Imagen:</label>
        <mat-form-field appearance="fill" class="form-field">
            <input matInput placeholder="URL" formControlName="img">
            <mat-error *ngIf="registroForm.get('img')?.invalid && registroForm.get('img')?.touched">
            La img del producto es requerida.
            </mat-error>
        </mat-form-field>
    </div>

    <div class="form-group">
        <label for="tienda">Tienda:</label>
        <mat-form-field appearance="fill" class="form-field">
          <mat-label>Tienda</mat-label>
          <mat-select formControlName="tienda">
            <mat-option value="Cyberpuerta">Cyberpuerta</mat-option>
            <mat-option value="DDTECH">DDTECH</mat-option>
            <mat-option value="Amazon">Amazon</mat-option>
            <mat-option value="Pcel">PCEL</mat-option>
            <mat-option value="Dimercom">Dimercom</mat-option>
          </mat-select>
        </mat-form-field>
    </div>  

    <div class="form-group">
        <label for="consumo">Consumo:</label>
        <mat-form-field appearance="fill" class="form-field">
            <input matInput type="number" placeholder="Consumo" formControlName="consumo">
            <mat-error *ngIf="registroForm.get('consumo')?.invalid && registroForm.get('consumo')?.touched">
            El Consumo es requerido.
            </mat-error>
        </mat-form-field>
    </div>

    <button mat-raised-button color="primary" type="submit" style="margin-top: -3em; margin-left: 10.2em;">Submit</button>
</form>
    <button mat-raised-button color="primary" class="submit" type="clear">Clear</button>
    <button mat-raised-button color="primary" style="margin-bottom: 2em;" (click)="confirmarEliminacion()">Eliminar</button>