.form-group {
    margin-bottom: 20px;
    margin-left: 1em;
    margin-right: 1em;
  }
  
  .error-message {
    color: red;
    margin-left: 3em;
  }

.form-field {
  width: 100%;
}

.registration-form {
  margin-top: 5em;
}

button {
  margin-top: -1em;
  margin-left: 9.5em;
  @media screen and (min-width: 768px) {
      margin-left: 50em;
  }
}

.submit {
  margin-top: 1em;
  margin-left: 10em;
  margin-bottom: 2em;
  @media screen and (min-width: 768px) {
      margin-left: 50.5em;
  }
}

mat-button-toggle-group {
    margin-left: 1em;
}