.form-group {
    margin-bottom: 20px;
    margin-left: 1em;
    margin-right: 1em;
  }
  
  .error-message {
    color: red;
    margin-left: 3em;
  }

.form-field {
  width: 100%;
}

.registration-form {
  margin-top: 5em;
}

button {
    margin-left: 5em;
    margin-top: 1em;
}

mat-button-toggle-group {
    margin-left: 1em;
}