<form [formGroup]="registroForm" (ngSubmit)="onSubmit()" class="registration-form">

    <div class="form-group">
      <label for="nombre">Nombre:</label>
      <mat-form-field appearance="fill" class="form-field">
        <input matInput placeholder="Nombre" formControlName="nombre">
        <mat-error *ngIf="registroForm.get('nombre')?.invalid && registroForm.get('nombre')?.touched">
          El Nombre es requerido.
        </mat-error>
      </mat-form-field>
    </div>

    <div class="form-group">
      <label for="apellido_paterno">Apellido Paterno:</label>
      <mat-form-field appearance="fill" class="form-field">
        <input matInput placeholder="Apellido Paterno" formControlName="apellido_paterno">
        <mat-error *ngIf="registroForm.get('apellido_paterno')?.invalid && registroForm.get('apellido_paterno')?.touched">
          El Apellido Paterno es requerido.
        </mat-error>
      </mat-form-field>
    </div>

    <div class="form-group">
      <label for="apellido_materno">Apellido Materno:</label>
      <mat-form-field appearance="fill" class="form-field">
        <input matInput placeholder="Apellido Materno" formControlName="apellido_materno">
        <mat-error *ngIf="registroForm.get('apellido_materno')?.invalid && registroForm.get('apellido_materno')?.touched">
          El Apellido Materno es requerido.
        </mat-error>
      </mat-form-field>
    </div>

    <div class="form-group">
      <label for="fecha_nacimiento">Fecha Nacimiento:</label>
      <mat-form-field appearance="fill" class="form-field">
        <input matInput [matDatepicker]="picker" placeholder="Fecha de nacimiento" formControlName="fecha_nacimiento">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
        <mat-error *ngIf="registroForm.get('fecha_nacimiento')?.invalid && registroForm.get('fecha_nacimiento')?.touched">
          La Fecha de Nacimiento es requerida.
        </mat-error>
      </mat-form-field>
    </div>

    <div class="form-group">
      <label for="genero">Género:</label>
      <mat-form-field appearance="fill" class="form-field">
        <mat-label>Género</mat-label>
        <mat-select formControlName="genero">
          <mat-option value="masculino">Masculino</mat-option>
          <mat-option value="femenino">Femenino</mat-option>
          <mat-option value="otro">Otro</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="form-group">
      <label for="escolaridad">Escolaridad:</label>
      <mat-form-field appearance="fill" class="form-field">
        <mat-label>Escolaridad</mat-label>
        <mat-select formControlName="escolaridad">
          <mat-option value="primeria">Primaria</mat-option>
          <mat-option value="secundaria">Secundaria</mat-option>
          <mat-option value="preparatoria/tecnica">Preparatoria/Tecnica</mat-option>
          <mat-option value="licenciatura">Licenciatura</mat-option>
          <mat-option value="posgrado">Posgrado</mat-option>
        </mat-select>
      </mat-form-field>
    </div>  
  
    <div class="form-group">
      <label for="correo_electronico">Email:</label>
      <mat-form-field appearance="fill" class="form-field">
        <input matInput placeholder="Email" formControlName="correo_electronico">
        <mat-error *ngIf="registroForm.get('correo_electronico')?.invalid && registroForm.get('correo_electronico')?.touched">
          Ingresa un email válido.
        </mat-error>
      </mat-form-field>
    </div>

    <div class="form-group">
      <label for="estado">Estado:</label>
      <mat-form-field appearance="fill" class="form-field">
        <mat-label>Estado</mat-label>
        <mat-select formControlName="estado">
          <mat-option value="primeria">Primaria</mat-option>
          <mat-option value="secundaria">Secundaria</mat-option>
          <mat-option value="preparatoria/tecnica">Preparatoria/Tecnica</mat-option>
          <mat-option value="licenciatura">Licenciatura</mat-option>
          <mat-option value="posgrado">Posgrado</mat-option>
        </mat-select>
      </mat-form-field>
    </div>  

    <div class="form-group">
      <label for="municipio">Municipio:</label>
      <mat-form-field appearance="fill" class="form-field">
        <mat-label>Municipio</mat-label>
        <mat-select formControlName="municipio">
          <mat-option value="primeria">Primaria</mat-option>
          <mat-option value="secundaria">Secundaria</mat-option>
          <mat-option value="preparatoria/tecnica">Preparatoria/Tecnica</mat-option>
          <mat-option value="licenciatura">Licenciatura</mat-option>
          <mat-option value="posgrado">Posgrado</mat-option>
        </mat-select>
      </mat-form-field>
    </div>  

    <div class="form-group">
      <label for="colonia">Colonia:</label>
      <mat-form-field appearance="fill" class="form-field">
        <input matInput placeholder="Colonia" formControlName="colonia">
        <mat-error *ngIf="registroForm.get('colonia')?.invalid && registroForm.get('colonia')?.touched">
          La Colonia es requerida.
        </mat-error>
      </mat-form-field>
    </div>

    <div class="form-group">
      <label for="codigo_postal">CP:</label>
      <mat-form-field appearance="fill" class="form-field">
        <input matInput type="number" placeholder="Codigo Postal" formControlName="codigo_postal">
        <mat-error *ngIf="registroForm.get('codigo_postal')?.invalid && registroForm.get('codigo_postal')?.touched">
          <ng-container *ngIf="registroForm.get('codigo_postal')?.hasError('required')">El CP es requerido.</ng-container>
          <ng-container *ngIf="registroForm.get('codigo_postal')?.hasError('pattern')">El CP debe tener 5 dígitos.</ng-container>
        </mat-error>
      </mat-form-field>
    </div>

    <div class="form-group">
      <label for="calle">Calle:</label>
      <mat-form-field appearance="fill" class="form-field">
        <input matInput placeholder="Calle" formControlName="calle">
        <mat-error *ngIf="registroForm.get('calle')?.invalid && registroForm.get('calle')?.touched">
          La Calle es requerida.
        </mat-error>
      </mat-form-field>
    </div>
    
    <div class="form-group">
      <label for="no_exterior">Numero Exterior:</label>
      <mat-form-field appearance="fill" class="form-field">
        <input matInput placeholder="Numero Exterior" formControlName="no_exterior">
        <mat-error *ngIf="registroForm.get('no_exterior')?.invalid && registroForm.get('no_exterior')?.touched">
          El Numero Exterior es requerida.
        </mat-error>
      </mat-form-field>
    </div>

    <div class="form-group">
      <label for="no_interior">Numero Interior:</label>
      <mat-form-field appearance="fill" class="form-field">
        <input matInput placeholder="Numero Interior" formControlName="no_interior">
      </mat-form-field>
    </div>

    <div class="form-group">
      <label for="tel_celular">Tel Celular:</label>
      <mat-form-field appearance="fill" class="form-field">
        <input matInput type="number" placeholder="Tel Celular" formControlName="tel_celular">
        <mat-error *ngIf="registroForm.get('tel_celular')?.invalid && registroForm.get('tel_celular')?.touched">
          <ng-container *ngIf="registroForm.get('tel_celular')?.hasError('required')">El Telefono es requerido.</ng-container>
          <ng-container *ngIf="registroForm.get('tel_celular')?.hasError('pattern')">El Telefono debe tener 10 o 12 dígitos.</ng-container>
        </mat-error>
      </mat-form-field>
    </div>

    <div class="form-group">
      <label for="tel_fijo">Tel Fijo:</label>
      <mat-form-field appearance="fill" class="form-field">
        <input matInput type="number" placeholder="Tel Fijo" formControlName="tel_fijo">
      </mat-form-field>
    </div>

    <div class="form-group">
      <label for="es_victima">El denunciante tambien se considera victima y ofendido (a)</label>
      <mat-button-toggle-group name="es_victima" aria-label="Favorite Color" formControlName="es_victima">
        <mat-button-toggle value="si">Si</mat-button-toggle>
        <mat-button-toggle value="no">No</mat-button-toggle>
      </mat-button-toggle-group>
    </div>

    <button mat-raised-button type="submit" style="margin-left: 20em;">Submit</button>
</form>
    <button mat-raised-button type="clear" (click)="clear()">Clear</button>

